@import url("https://fonts.googleapis.com/css?family=Karla:400,700");
@import url("https://fonts.googleapis.com/css?family=Poppins:700");
body {
  font-family: Karla, "Helvetica", "Arial", sans-serif;
  color: #000000;
  font-weight: 400; }

a {
  color: #0f50de;
  text-decoration: none;
  -webkit-transition: 0.3s ease color;
  -o-transition: 0.3s ease color;
  transition: 0.3s ease color; }
  a:hover {
    color: #477df3;
    cursor: pointer;
    text-decoration: underline;
    -webkit-text-decoration-skip: ink;
    text-decoration-skip: ink; }

.layout-container p, .layout-container ul, .layout-container ol {
  font-size: 17px;
  line-height: 28px;
  font-weight: 400; }

h1, h2, h3, h4,
.h1, .h2, .h3, .h4 {
  font-family: Poppins, "Helvetica", "Arial", sans-serif;
  color: #0f50de;
  font-weight: 700; }
  h1 a, h2 a, h3 a, h4 a,
  .h1 a, .h2 a, .h3 a, .h4 a {
    color: #0f50de;
    -webkit-transition: 0.2s ease color;
    -o-transition: 0.2s ease color;
    transition: 0.2s ease color;
    text-decoration: none; }
    h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover,
    .h1 a:hover, .h2 a:hover, .h3 a:hover, .h4 a:hover {
      color: #477df3; }

h1, .h1 {
  font-size: 48px;
  line-height: 52px;
  font-weight: bold; }
  @media (min-width: 1180px) {
    h1, .h1 {
      font-size: 58px;
      line-height: 58px; } }

h2, .h2 {
  font-size: 30px;
  line-height: 36px;
  font-weight: bold; }
  @media (min-width: 1180px) {
    h2, .h2 {
      font-size: 34px;
      line-height: 42px; } }

h3, .h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold; }
  @media (min-width: 1180px) {
    h3, .h3 {
      font-size: 28px;
      line-height: 34px; } }

h4, .h4 {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold; }

.button {
  display: inline-block;
  margin: 0px 10px 10px 0px;
  border: 0px;
  border-radius: 2px;
  padding: 8px 12px;
  text-decoration: none;
  color: white;
  background: #0f50de;
  -webkit-transition: 0.3s ease all;
  -o-transition: 0.3s ease all;
  transition: 0.3s ease all; }
  .button:hover {
    background: #477df3;
    color: white;
    text-decoration: none; }
  .button:first-child {
    margin: 0 10px 10px 0; }

ul li, ol li {
  line-height: 28px; }

blockquote {
  border-left: 3px solid #0f50de;
  background: #efefef;
  padding-left: 1em;
  margin: 25px 0px;
  padding: 1px 15px; }

hr {
  border-bottom: 1px solid #0f50de;
  border-top: 0px; }

code, pre {
  background: #efefef;
  color: #000000;
  padding: 5px;
  font-size: 14px; }

table thead tr th {
  padding: 5px;
  text-align: left; }

table tbody tr td {
  padding: 5px; }

html {
  background-color: #efefef; }

body {
  height: 100%;
  min-height: 100%;
  margin: 0px;
  background: white; }

header .header-container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 20px;
  overflow: auto; }
  @media (min-width: 768px) {
    header .header-container {
      overflow: visible; } }

.region.empty {
  display: none; }

.region-content-top .region-container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 20px;
  overflow: auto; }

.region-content .region-container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 20px;
  overflow: auto; }

.region-content-bottom .region-container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 20px;
  overflow: auto; }

@media (min-width: 768px) {
  .layout-container.sidebar main {
    max-width: 1180px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .layout-container.sidebar main .main-container {
      -webkit-box-flex: 1;
          -ms-flex: 1 1 auto;
              flex: 1 1 auto; }
    .layout-container.sidebar main .region-right-sidebar,
    .layout-container.sidebar main .region-left-sidebar {
      -webkit-box-flex: 0;
          -ms-flex: 0 1 400px;
              flex: 0 1 400px; } }

.region-right-sidebar {
  border-left: 1px solid #efefef; }

.region-left-sidebar {
  border-right: 1px solid #efefef; }

footer.page-footer .region-container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 20px;
  overflow: auto; }

header.header {
  background: white;
  width: 100%; }

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media (min-width: 0px) and (max-width: 767px) {
    .header-container {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; } }
  .header-container .region-header {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto; }
    @media (min-width: 0px) and (max-width: 767px) {
      .header-container .region-header {
        -webkit-box-flex: 0;
            -ms-flex: 0 1 auto;
                flex: 0 1 auto; } }
  .header-container .region-navigation {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto; }
    .header-container .region-navigation .region-container {
      width: 100%; }
  .header-container .region-mobilenav {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
    display: none; }

.block-system-branding-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .block-system-branding-block .site-logo img {
    max-width: 60px;
    -webkit-transition: 0.3s ease all;
    -o-transition: 0.3s ease all;
    transition: 0.3s ease all; }
    @media (min-width: 768px) {
      .block-system-branding-block .site-logo img {
        max-width: 100px; } }
  .block-system-branding-block .branding-text {
    margin-left: 20px; }
  .block-system-branding-block .site-name {
    font-family: Poppins, "Helvetica", "Arial", sans-serif;
    color: #0f50de;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    font-weight: bold; }
    .block-system-branding-block .site-name a {
      color: #0f50de;
      -webkit-transition: 0.2s ease color;
      -o-transition: 0.2s ease color;
      transition: 0.2s ease color;
      text-decoration: none; }
      .block-system-branding-block .site-name a:hover {
        color: #477df3; }
    @media (min-width: 1180px) {
      .block-system-branding-block .site-name {
        font-size: 34px;
        line-height: 42px; } }

.bones-fixed-header header.header {
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  position: fixed;
  z-index: 10; }

.bones-fixed-header .region-header {
  max-width: calc(100% - 80px); }

.bones-fixed-header.scrolled .header-container {
  padding: 10px 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.bones-fixed-header.scrolled .region-header {
  margin-bottom: 0px; }

.bones-fixed-header.scrolled .block-system-branding-block {
  text-align: left; }
  .bones-fixed-header.scrolled .block-system-branding-block .site-logo img {
    max-width: 50px; }
    @media (min-width: 768px) {
      .bones-fixed-header.scrolled .block-system-branding-block .site-logo img {
        max-width: 50px; } }
  .bones-fixed-header.scrolled .block-system-branding-block .site-slogan {
    display: none; }

.region-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-transition: 0.3s ease all;
  -o-transition: 0.3s ease all;
  transition: 0.3s ease all; }

.region-navigation .block-menu.menu--main ul.menu {
  margin: 10px 0;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
  line-height: 20px; }
  .region-navigation .block-menu.menu--main ul.menu li {
    display: inline-block;
    padding: 0 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    .region-navigation .block-menu.menu--main ul.menu li a {
      padding: 5px;
      display: inline-block; }
      .region-navigation .block-menu.menu--main ul.menu li a.is-active {
        color: #0f50de;
        text-decoration: underline; }
    .region-navigation .block-menu.menu--main ul.menu li:first-child a {
      padding-left: 5px; }
    .region-navigation .block-menu.menu--main ul.menu li.menu-item--expanded {
      position: relative; }
      .region-navigation .block-menu.menu--main ul.menu li.menu-item--expanded:hover > a:after {
        content: '\25bc';
        display: inline-block;
        margin-left: 5px;
        font-size: 12px;
        position: absolute; }
      .region-navigation .block-menu.menu--main ul.menu li.menu-item--expanded:hover ul.menu {
        display: block; }
    .region-navigation .block-menu.menu--main ul.menu li ul.menu {
      display: none;
      position: absolute;
      -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
              box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
      width: 200px;
      z-index: 6;
      background: white; }
      .region-navigation .block-menu.menu--main ul.menu li ul.menu li {
        padding: 0;
        display: block; }
        .region-navigation .block-menu.menu--main ul.menu li ul.menu li a {
          padding: 15px;
          display: block; }
          .region-navigation .block-menu.menu--main ul.menu li ul.menu li a.is-active {
            border-bottom: 0px; }
          .region-navigation .block-menu.menu--main ul.menu li ul.menu li a:hover {
            background: #477df3;
            color: white; }

.region-navigation .block-menu.menu--main ul.menu {
  text-align: right; }

@media (min-width: 768px) {
  .bones-search .region-navigation .block-search {
    margin: 0 0 0 20px; } }

.bones-mobile-menu .region-header {
  margin-bottom: 15px; }

@media (min-width: 0px) and (max-width: 767px) {
  .bones-mobile-menu .region-navigation .block-menu.menu--main {
    display: none; } }

.bones-mobile-menu .mobile-nav-toggle {
  -ms-flex-item-align: center;
      align-self: center;
  margin-left: 10px; }
  @media (min-width: 768px) {
    .bones-mobile-menu .mobile-nav-toggle {
      display: none; } }

.bones-mobile-menu .region-mobilenav {
  padding: 40px 0; }
  .bones-mobile-menu .region-mobilenav .region-container > .block {
    margin-bottom: 40px; }
    .bones-mobile-menu .region-mobilenav .region-container > .block:last-child {
      margin-bottom: 0px; }
  .bones-mobile-menu .region-mobilenav nav + nav {
    margin-top: -40px; }
    .bones-mobile-menu .region-mobilenav nav + nav ul.menu {
      border-top: 0px; }
  .bones-mobile-menu .region-mobilenav ul.menu {
    margin: 0;
    border-top: 1px solid #0f50de; }
    .bones-mobile-menu .region-mobilenav ul.menu li {
      display: block;
      padding: 0px;
      border-bottom: 1px solid #0f50de; }
      .bones-mobile-menu .region-mobilenav ul.menu li a {
        display: block;
        padding: 8px 20px; }
        .bones-mobile-menu .region-mobilenav ul.menu li a.is-active {
          background: #0f50de;
          color: white; }

.menu--footer ul.menu {
  margin: 10px 0; }

.field--name-body {
  max-width: 800px; }

.node__links ul.links li {
  display: inline-block; }
  .node__links ul.links li:first-child {
    padding-left: 0px; }
  .node__links ul.links li a {
    display: block;
    border: 1px solid #c1c1c1;
    padding: 8px 12px 8px 12px; }

.comment-wrapper article.comment {
  border-top: 3px solid #c1c1c1;
  border-bottom: 3px solid #c1c1c1; }
  .comment-wrapper article.comment h4 {
    margin-bottom: 0; }
  .comment-wrapper article.comment .links {
    font-size: 14px;
    line-height: 18px;
    margin-top: 0px;
    margin-bottom: 15px;
    display: block; }
    .comment-wrapper article.comment .links li {
      display: inline-block; }
      .comment-wrapper article.comment .links li:first-child {
        padding-left: 0px; }
      .comment-wrapper article.comment .links li a {
        display: block;
        border: 1px solid #c1c1c1;
        padding: 5px 10px 5px 10px; }

.comment-wrapper .comment__meta {
  font-size: 14px;
  line-height: 18px; }
  .comment-wrapper .comment__meta .comment__submitted {
    margin: 0px 5px 0px 0px;
    display: inline-block; }

.comment-wrapper .indented {
  margin: 15px 0px 15px 40px;
  margin-left: 40px;
  border-left: 10px solid #c1c1c1;
  padding-left: 20px; }
  .comment-wrapper .indented article.comment {
    border-top: 0px; }

img {
  max-width: 100%;
  height: auto; }

svg {
  max-width: 100%;
  max-height: 100%;
  height: auto; }

figure {
  margin: 20px 0; }
  figure figcaption {
    margin: 10px 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #0f50de; }

.block-local-tasks-block {
  margin: 20px 0; }

ul.tabs.primary {
  border-bottom: 1px solid #c1c1c1; }
  ul.tabs.primary a {
    border: 1px solid #c1c1c1;
    border-bottom: 0px;
    padding: 8px 20px 5px;
    font-size: 16px; }

.block-views-blockdemo-view-columns-block-1 > h2,
.block-views-blockdemo-view-columns-block-2 > h2,
.block-views-blockdemo-view-columns-block-3 > h2 {
  border-bottom: 1px solid #0f50de; }

.view--4col .view-content {
  overflow: auto; }

@media (min-width: 768px) and (max-width: 1180px) {
  .view--4col .views-row {
    width: calc(50% - 17px);
    float: left;
    margin-right: 30px;
    margin-bottom: 20px; }
    .view--4col .views-row:nth-child(2n + 2) {
      margin-right: 0px; }
    .view--4col .views-row:nth-child(2n + 3) {
      clear: left; } }

@media (min-width: 1180px) {
  .view--4col .views-row {
    width: calc(25% - 23px);
    float: left;
    margin-right: 30px;
    margin-bottom: 20px; }
    .view--4col .views-row:nth-child(4n + 4) {
      margin-right: 0px; }
    .view--4col .views-row:nth-child(4n + 5) {
      clear: left; } }

.view--3col .view-content {
  overflow: auto; }

@media (min-width: 768px) {
  .view--3col .views-row {
    width: calc(33% - 17px);
    float: left;
    margin-right: 30px;
    margin-bottom: 20px; }
    .view--3col .views-row:nth-child(3n + 3) {
      margin-right: 0px; }
    .view--3col .views-row:nth-child(3n + 4) {
      clear: left; } }

.view--2col .view-content {
  overflow: auto; }

@media (min-width: 768px) {
  .view--2col .views-row {
    width: calc(50% - 16px);
    float: left;
    margin-right: 30px;
    margin-bottom: 20px; }
    .view--2col .views-row:nth-child(2n + 2) {
      margin-right: 0px; }
    .view--2col .views-row:nth-child(2n + 3) {
      clear: left; } }

input {
  max-width: 100%; }

form input {
  border: 1px solid #0f50de;
  padding: 5px;
  border-radius: 2px; }
  form input[type="text"], form input[type="number"], form input[type="email"], form input[type="password"] {
    max-width: 500px; }

form label {
  padding: 5px 0; }

form .form-item {
  margin: 1.5em 0; }

form .form-type-textarea textarea {
  border: 1px solid #0f50de;
  padding: 5px;
  border-radius: 2px; }

form .form-type-checkbox .description {
  margin-left: 1.6em; }

form .form-type-password-confirm > label {
  font-weight: bold;
  display: block;
  margin-bottom: 0.5em; }

form .form-type-password-confirm .confirm-parent,
form .form-type-password-confirm .password-parent {
  max-width: initial; }

form .form-type-password-confirm .password-strength {
  margin: 1em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse; }

form .form-type-password-confirm .password-confirm {
  margin: 1em 0; }

form .form-type-range-output input.form-range {
  float: none !important;
  display: block; }

form .form-type-range-output .form-range-output-container {
  margin: 0.5em 0 1em 0; }

form .form-type-color input.form-color {
  float: none !important;
  vertical-align: middle;
  margin: 10px 0; }

form .form-type-managed-file label.webform-file-button {
  margin: 1em 0; }

form .form-type-managed-file input.form-file {
  margin: 1em 0; }

form table.tableselect,
form table.tableselect-sort {
  margin: 1em 0; }

form .form-item input.error,
form .form-item textarea.error,
form .form-item select.error {
  border: 2px solid #543b83; }

form label.option {
  margin-left: 5px; }

form .text-format-wrapper {
  display: block; }

#search-block-form {
  min-width: 215px; }

.bones-search #search-block-form input.form-submit {
  padding: 6px 8px;
  margin-left: -7px; }

.bones-search .block-search {
  overflow: hidden;
  position: relative;
  width: 30px;
  -webkit-transition: 0.3s ease all;
  -o-transition: 0.3s ease all;
  transition: 0.3s ease all;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0; }
  .bones-search .block-search.show {
    width: 220px; }
  .bones-search .block-search .button {
    margin-bottom: 0px; }
  .bones-search .block-search .search-show.hide {
    display: none; }
  .bones-search .block-search #search-block-form {
    position: absolute;
    left: 30px;
    top: 0;
    max-height: 32px; }
    .bones-search .block-search #search-block-form.show {
      position: relative;
      left: 0; }

.ds-2col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .ds-2col > .group-left {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    width: auto;
    float: none; }
  .ds-2col > .group-right {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    width: auto;
    float: none; }
  @media (min-width: 768px) {
    .ds-2col > .group-left {
      -webkit-box-flex: 0;
          -ms-flex: 0 1 50%;
              flex: 0 1 50%;
      padding-right: 15px; }
    .ds-2col > .group-right {
      -webkit-box-flex: 0;
          -ms-flex: 0 1 50%;
              flex: 0 1 50%;
      padding-left: 15px; } }

.ds-2col-stacked {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .ds-2col-stacked > .group-left {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    width: auto;
    float: none; }
  .ds-2col-stacked > .group-right {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    width: auto;
    float: none; }
  @media (min-width: 768px) {
    .ds-2col-stacked > .group-left {
      -webkit-box-flex: 0;
          -ms-flex: 0 1 50%;
              flex: 0 1 50%;
      padding-right: 15px; }
    .ds-2col-stacked > .group-right {
      -webkit-box-flex: 0;
          -ms-flex: 0 1 50%;
              flex: 0 1 50%;
      padding-left: 15px; } }

.ds-3col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .ds-3col > .group-left {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    width: auto;
    float: none; }
  .ds-3col > .group-middle {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    width: auto;
    float: none; }
  .ds-3col > .group-right {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    width: auto;
    float: none; }
  @media (min-width: 768px) {
    .ds-3col > .group-left {
      -webkit-box-flex: 0;
          -ms-flex: 0 1 25%;
              flex: 0 1 25%;
      padding-right: 15px; }
    .ds-3col > .group-middle {
      -webkit-box-flex: 0;
          -ms-flex: 0 1 50%;
              flex: 0 1 50%;
      padding-right: 15px;
      padding-left: 15px; }
    .ds-3col > .group-right {
      -webkit-box-flex: 0;
          -ms-flex: 0 1 25%;
              flex: 0 1 25%;
      padding-left: 15px; } }

/*# sourceMappingURL=bones_subtheme.styles.css.map */
