/* Color module stylesheet */

header.header {
    background-color: #ffffff;
}

html, body {
    background-color: #fdfdfd;
}

.region-right-sidebar,
.region-left-sidebar {
    background-color: #f8faff;
}

footer.page-footer {
    background-color: #efefef;
}

body {
    color: #000000;
}

h1, h2, h3, h4,
.h1, .h2, .h3, .h4 {
    color: #0f50de;
}

a {
    color: #0947ce;
}

button,
input[type="button"],
input[type="submit"],
.button {
    background-color: #0748d6;
    color: #f3f3f3;
}
