{% extends('paragraph.html.twig') %}

{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}
      {% if not paragraph.get('field_heading').isEmpty() %}
      <h3 class="text-content">{{ content.field_heading }}</h3>
      {% endif %}
      {{ content|without('field_heading') }}
    {% endblock %}
  </div>
{% endblock paragraph %}
