{% if amazee_url is not empty %}
  <a href="{{ amazee_url }}" class="amazee-link"><strong>Hosting provided by <span class="visually-hidden">Amazee.io</span></strong><img src="{{ amazee_image }}" class="amazee-image" style="max-width: 185px" alt="Amazee.io logo"></a>
{% endif %}
