{% if amazee_url is not empty %}
  <div class="sponsor-linked-logo">
    <a href="{{ amazee_url }}" class="amazee-link">
      <span>Hosting provided by</span> <span class="visually-hidden">Amazee.io</span>
      <img src="{{ amazee_image }}" class="amazee-image" alt="Amazee.io logo"></a>
  </div>
{% endif %}
