// Views
// View specific theming

// Views
@mixin view--four-column {
    .view-content {
        overflow: auto;
    }
    .views-row {
        @include breakpoint($tablet $desktop) {
            width: calc(50% - 17px);
            float: left;
            margin-right: 30px;
            margin-bottom: 20px;
            &:nth-child(2n + 2) {
                margin-right: 0px;
            }
            &:nth-child(2n + 3) {
                clear: left;
            }
        }
        @include breakpoint($desktop) {
            width: calc(25% - 23px);
            float: left;
            margin-right: 30px;
            margin-bottom: 20px;
            &:nth-child(4n + 4) {
                margin-right: 0px;
            }
            &:nth-child(4n + 5) {
                clear: left;
            }
        }
    }
}

@mixin view--three-column {
    .view-content {
        overflow: auto;
    }
    .views-row {
        @include breakpoint($tablet) {
            width: calc(33% - 17px);
            float: left;
            margin-right: 30px;
            margin-bottom: 20px;
            &:nth-child(3n + 3) {
                margin-right: 0px;
            }
            &:nth-child(3n + 4) {
                clear: left;
            }
        }
    }
}

@mixin view--two-column {
    .view-content {
        overflow: auto;
    }
    .views-row {
        @include breakpoint($tablet) {
            width: calc(50% - 16px);
            float: left;
            margin-right: 30px;
            margin-bottom: 20px;
            &:nth-child(2n + 2) {
                margin-right: 0px;
            }
            &:nth-child(2n + 3) {
                clear: left;
            }
        }
    }
}

// Available classes for views
.view--4col { @include view--four-column; }
.view--3col { @include view--three-column; }
.view--2col { @include view--two-column; }
