{#
/**
 * @file
 * Molecule component for Menu - Tabs
 *
 * Available props:
 * - menu_tabs_attributes - [string] Any additional attributes needing to be specified.
 * - menu_tabs_content - [object] Expecting all elemental parts of this menu.
 * - menu_tabs_label - [string] Expecting an identifying value.
 *
 * Available slots:
 * - menu_tabs_content
 * - menu_tabs_prefix
 *
 */
#}

{% set classes = [
  'c-menu-tabs',
] %}

<nav {{ menu_tabs_attributes.addClass(classes) }} aria-label="{{ menu_tabs_label }}" role="navigation">
    {% block menu_tabs_prefix %}{% endblock %}

  {% block menu_tabs_content %}
      {{ menu_tabs_content }}
  {% endblock %}
</nav>
