// Header

header.header {
    background: 0 0 $grey--mid;
    width: 100%;
}

.header-container {
    display: flex;
    @include breakpoint($mobile) {
        flex-wrap: wrap;
    }
    .region-header {
        flex: 0 0 auto;
        @include breakpoint($mobile) {
            flex: 0 1 auto;
        }
    }
    .region-navigation {
        flex: 1 1 auto;
        .region-container {
            width: 100%;
        }
    }
    .region-mobilenav {
        flex: 1 0 100%;
        display: none;
    }
}

.block-system-branding-block {
    display: flex;
    align-items: center;
    .site-logo {
        img {
            height: 42px;
            max-width: 60px;
            transition: 0.3s ease all;
            @include breakpoint($tablet) {
                max-width: 100px;
            }
        }
    }
    .branding-text {
        margin-left: 20px;
    }
    .site-name {
        @include headings;
        @include h2;
    }
}

// Fixed header styles
.bones-fixed-header {
    header.header {
        box-shadow: $box-shadow;
        position: fixed;
        z-index: 10;
    }
    .region-header {
        max-width: calc(100% - 80px);
    }
    &.scrolled {
        .header-container {
            padding: 10px 20px;
            align-items: center;
        }
        .region-header {
            margin-bottom: 0px;
        }
        .block-system-branding-block {
            text-align: left;
            .site-logo {
                img {
                    max-width: 50px;
                    @include breakpoint($tablet) {
                        max-width: 50px;
                    }
                }
            }
            .site-slogan {
                display: none;
            }
        }
    }
}
