// Header

header.header {
    background: 0 0 $grey--mid;
    width: 100%;
}

.header-container {
    display: flex;
    @include breakpoint($mobile) {
        flex-wrap: wrap;
    }
    .region-header {
        flex: 0 0 auto;
        @include breakpoint($mobile) {
            flex: 0 1 auto;
        }
    }
    .region-navigation {
        flex: 1 1 auto;
        .region-container {
            width: 100%;
        }
    }
    .region-mobilenav {
        flex: 1 0 100%;
        display: none;
    }
}

.block-system-branding-block {
    display: flex;
    align-items: center;
    .site-logo {
        img {
            height: 42px;
            max-width: 60px;
            transition: 0.3s ease all;
            @include breakpoint($tablet) {
                max-width: 100px;
            }
        }
    }
    .branding-text {
        margin-left: 20px;
    }
    .site-name {
        @include headings;
        @include h2;
    }
}

// Fixed header styles
.bones-fixed-header {
    header.header {
        box-shadow: $box-shadow;
        position: fixed;
        z-index: 10;
    }
    .region-header {
        max-width: calc(100% - 80px);
    }
    &.scrolled {
        .header-container {
            padding: 10px 20px;
            align-items: center;
        }
        .region-header {
            margin-bottom: 0px;
        }
        .block-system-branding-block {
            text-align: left;
            .site-logo {
                img {
                    max-width: 50px;
                    @include breakpoint($tablet) {
                        max-width: 50px;
                    }
                }
            }
            .site-slogan {
                display: none;
            }
        }
    }
}

.background-image-wrapper {
  display: flex;
  .block-dnyc-header-content {
    width: 100%;
    div.node--view-mode-header {
      position: relative;
    }
    div.header-content-container {
      max-width: $desktop;
      margin-left: auto;
      margin-right: auto;
      padding-left: 1em;
    }
  }
}

.background-image-full-viewport {
  .background-image-wrapper {
    div.block-dnyc-header-content {
      display: flex;
      justify-content: flex-end;
      flex-direction: column;
      top: 0
    }
  }
}

.background-image-wrapper {
  .header-content-container {
    h1 {
      margin: 0;
      color: $font-header--color;
      text-shadow: 0 0 5px $grey--light;
    }
  }
}

.background-image-dark {
  .background-image-wrapper {
    .header-content-container {
      h1 {
        color: $white;
        text-shadow: 0 0 15px $box-shadow;
      }
    }
  }
}
