// Navigation
// Menus

.region-navigation {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    transition: 0.3s ease all;
}

// Menus
.region-navigation .block-menu.menu--main {
    @include dropdown-menu;
    ul.menu {
        text-align: right;
    }
}

.bones-search {
    .region-navigation .block-search {
        @include breakpoint($tablet) {
            margin: 0 0 0 20px;
        }
    }
}

.bones-mobile-menu {
    .region-header {
        margin-bottom: 0;
    }
    .region-navigation .block-menu.menu--main {
        @include breakpoint($mobile) {
            display: none;
        }
    }
    .mobile-nav-toggle {
        align-self: center;
        margin-left: 10px;
        @include breakpoint($tablet) {
            display: none;
        }
      svg {
        color: $link-color;
        fill: currentColor;
      }
    }
    .region-mobilenav {
        padding: 40px 0;
        .region-container > .block {
            margin-bottom: 40px;
            &:last-child {
                margin-bottom: 0px;
            }
        }
        nav + nav {
            margin-top: -40px;
            ul.menu {
                border-top: 0px;
            }
        }
        ul.menu {
            margin: 0;
            border-top: 1px solid $color-primary;
            li {
                display: block;
                padding: 0px;
                border-bottom: 1px solid $color-primary;
                a {
                    display: block;
                    padding: 8px 20px;
                    &.is-active {
                        background: $color-primary;
                        color: white;
                    }
                }
            }
        }
    }
}
