// Nodes
// Frequently used fields and different content types.


// Keep a good line length which helps readability & legibility.
.field--name-body {
    max-width: 800px;
}


.node--type-page {
    // Styles for all view modes

    &.node--view-mode-full {
        // Full display specific styles

    }
    &.node--view-mode-teaser {
        // Teaser specific styles

    }
}

.node__links {
    ul.links {
        li {
            display: inline-block;
            &:first-child {
                padding-left: 0px;
            }
            a {
                display: block;
                border: 1px solid $grey--mid;
                padding: 8px 12px 8px 12px;
            }
        }
    }
}

.comment-wrapper {
    article.comment {
        border-top: 3px solid $grey--mid;
        border-bottom: 3px solid $grey--mid;
        h4 {
            margin-bottom: 0;
        }
        .links {
            font-size: 14px;
            line-height: 18px;
            margin-top: 0px;
            margin-bottom: 15px;
            display: block;
            li {
                display: inline-block;
                &:first-child {
                    padding-left: 0px;
                }
                a {
                    display: block;
                    border: 1px solid $grey--mid;
                    padding: 5px 10px 5px 10px;
                }
            }

        }
    }
    .comment__meta {
        font-size: 14px;
        line-height: 18px;
        .comment__submitted {
            margin: 0px 5px 0px 0px;
            display: inline-block;
        }
    }
    .indented {
        margin: 15px 0px 15px 40px;
        margin-left: 40px;
        border-left: 10px solid $grey--mid;
        padding-left: 20px;
        article.comment {
            border-top: 0px;
        }
    }
}
