// Page
// Stuff that happens on every page

html {
    // Footer background color for short pages
    background-color: $grey--light;
}


body {
  height: 100%;
  min-height: 100%;
  margin: 0px;
  // Page background color
  background: white;
}

header {
    .header-container {
        @include container;
        @include breakpoint($tablet) {
            overflow: visible;
        }
    }
}

.region.empty {
    display: none;
}

.region-content-top {
    .region-container {
        @include container;
    }
}

.region-content {
    .region-container {
        @include container;
    }
}

.region-content-bottom {
    .region-container {
        @include container;
    }
}

// Pages with a sidebar
.layout-container.sidebar {
    main {
        @include breakpoint($tablet) {
            max-width: 1180px;
            margin: 0 auto;
            display: flex;
            .main-container {
                flex: 1 1 auto;
            }
            .region-right-sidebar,
            .region-left-sidebar {
                flex: 0 1 400px;
            }
        }
    }
}

.region-right-sidebar {
    border-left: 1px solid $grey--light;
}

.region-left-sidebar {
    border-right: 1px solid $grey--light;
}

footer.page-footer {
    .region-container {
        @include container;
    }
}

.background-image-wrapper {
  .field--name-field-headline {
    h1 {
      color: $white;
      text-shadow: 0 0 15px $grey--dark;
    }
  }
}
