// Page
// Stuff that happens on every page

html {
  // Footer background color for short pages
  background-color: $grey--light;
}


body {
  height: 100%;
  min-height: 100%;
  margin: 0px;
  background-color: unset;
}

header {
  .header-container {
    @include container;
    @include breakpoint($tablet) {
      overflow: visible;
    }
  }
}

.region.empty {
  display: none;
}

.region-content-top {
  .region-container {
    @include container;
    background-color: $grey--light;
  }
}

.region-content {
  .region-container {
    @include container;
    background-color: $grey--light;
  }
}

.region-content-bottom {
  .region-container {
    @include container;
    background-color: $grey--light;
  }
}

// Pages with a sidebar
.layout-container {
  main {
    margin: 15px auto;
    @include breakpoint($tablet) {
      margin: 10px auto;
    }
  }

  .sidebar {
    main {
      @include breakpoint($tablet) {
        max-width: 1180px;
        display: flex;
        .main-container {
          flex: 1 1 auto;
        }
        .region-right-sidebar,
        .region-left-sidebar {
          flex: 0 1 400px;
        }
      }
    }
  }
}

.region-right-sidebar {
  border-left: 1px solid $grey--light;
}

.region-left-sidebar {
  border-right: 1px solid $grey--light;
}

footer.page-footer {
  .region-container {
    @include container;
  }
}

.background-image-wrapper {
  .field--name-field-headline {
    h1 {
      color: $font-header--color;
      text-shadow: 0 0 15px $grey--light;
    }
  }
}

.background-image-dark {
  .background-image-wrapper {
    .field--name-field-headline {
      h1 {
        color: $white;
        text-shadow: 0 0 15px $box-shadow;
      }
    }
  }
}
