// Typography
// Site wide typography

// Font imports / Fontface
@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:700');

body {
    font-family: $font-body;
    color: $font-body--color;
    font-weight: $font-body--weight;
}

a {
  color: $link-color;
  text-decoration: none;
  transition: 0.3s ease color;
  &:hover {
    color: $link-color--hover;
    cursor: pointer;
    text-decoration: underline;
    -webkit-text-decoration-skip: ink;
    text-decoration-skip-ink: auto;
  }
}

.layout-container {
    p, ul, ol {
        font-size: $font-body--size;
        line-height: $font-body--lineheight;
        font-weight: $font-body--weight;
    }
}

@mixin headings {
    font-family: $font-header;
    color: $font-header--color;
    font-weight: $font-header--weight;
    a {
        color: $link-color;
        transition: 0.2s ease color;
        text-decoration: none;
        &:hover {
            color: $link-color--hover;
        }
    }
}
h1, h2, h3, h4,
.h1, .h2, .h3, .h4 {
    @include headings;
}

// Headings
@mixin h1 {
    font-size: 48px;
    line-height: 52px;
    font-weight: bold;
    @include breakpoint($desktop) {
        font-size: 58px;
        line-height: 58px;
    }
}
h1, .h1 { @include h1; }

@mixin h2 {
    font-size: 30px;
    line-height: 36px;
    font-weight: bold;
    @include breakpoint($desktop) {
        font-size: 34px;
        line-height: 42px;
    }
}
h2, .h2 { @include h2; }

@mixin h3 {
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    @include breakpoint($desktop) {
        font-size: 28px;
        line-height: 34px;
    }
}
h3, .h3 { @include h3; }

@mixin h4 {
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
}
h4, .h4 { @include h4; }

.button {
    @include button;
    &:first-child {
        margin: 0 10px 10px 0;
    }
}

ul, ol {
    li {
        line-height: $font-body--lineheight;
    }
}

blockquote {
    border-left: 3px solid $color-secondary;
    background: $grey--light;
    padding-left: 1em;
    margin: 25px 0px;
    padding: 1px 15px;
}

hr {
    border-bottom: 1px solid $color-primary;
    border-top: 0px;
}

code, pre {
    background: $grey--light;
    color: $black;
    padding: 5px;
    font-size: 14px;
}

table {
    thead {
        tr {
            th {
                padding: 5px;
                text-align: left;
            }
        }
    }
    tbody {
        tr {
            td {
                padding: 5px;
            }
        }
    }
}
