// Variables
// For all your site-wide values like colors and breakpoints.

// PLEASE NOTE - Color module conflicts
// Some of these values will be overridden by color.css. To further customise
// the colors while still using the color module, simply adjust the css rule to
// be more specific OR add !important to the end of the rule.

// Breakpoints
$mobile: 0px 767px;
$tablet: 768px;
$desktop: 1180px;

// Container
$container: 1180px;

// Colours
// e.g.
$aqua: #00ce97;
$bone: #ffeea5;
$grey: #656668;
$white: #ffffff;
$black: #000000;

$yellow: #e0d74b;
$red: #ed272f;
$blue: #0f50de;
$maroon: #7e1e1f;
$pink: #d7a5ca;
$peach: #e29186;
$teal: #178d7e;
$purple: #543b83;
$lime: #d0ea17;
$orange: #ff4e36;

$grey--light: #efefef;
$grey--mid: #c1c1c1;
$grey--dark: #656668;

// Global styles
$color-primary: $blue;
$color-secondary: $blue;
$color-accent: $purple;
$color-error: $purple;

// Button variables
$button-color: $color-primary;
$button-color--hover: lighten($color-primary, 15%);
$button-text: white;
$button-text--hover: white;

// Text variables
$font-body: Karla, 'Helvetica', 'Arial', sans-serif;
$font-body--size: 17px;
$font-body--lineheight: 28px;
$font-body--weight: 400;
$font-body--color: $black;

$font-header: Poppins, 'Helvetica', 'Arial', sans-serif;
$font-header--weight: 700;
$font-header--color: $color-primary;

$link-color: $color-primary;
$link-color--hover: lighten($color-primary, 15%);

// Misc
$box-shadow: 0 2px 5px rgba(0,0,0,.26);
