// Blocks
// Styles for site & custom blocks

.block-local-tasks-block {
    margin: 20px 0;
}

ul.tabs.primary {
    border-bottom: 1px solid $grey--mid;
    a {
        border: 1px solid $grey--mid;
        border-bottom: 0px;
        padding: 8px 20px 5px;
        font-size: 16px;
    }
}

.block-views-blockdemo-view-columns-block-1,
.block-views-blockdemo-view-columns-block-2,
.block-views-blockdemo-view-columns-block-3 {
    > h2 {
        border-bottom: 1px solid $color-primary;
    }
}
