{% if pantheon_url is not empty %}
  <a href="{{ pantheon_url }}" class="pantheon-link"><strong>Powered by <span class="visually-hidden">Pantheon</span></strong><img src="{{ pantheon_image }}" class="pantheon-image"></a>
{% endif %}
