@mixin vertical-center {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}


@mixin centerer($horizontal: true, $vertical: true) {
  position: absolute;
  @if ($horizontal and $vertical) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } @else if ($horizontal) {
    left: 50%;
    transform: translate(-50%, 0);
  } @else if ($vertical) {
    top: 50%;
    transform: translate(0, -50%);
  }
}

/*
 * Image as a centered backdrop, or background.
 *
 *   - Height variables must be specified in pixels.
 */
@mixin image-as-centered-backdrop($small-viewport-height: null, $large-viewport-height: 675px, $overflow: hidden) {
  width: 100%;
  height: 75%; // Maintain a 4:3 aspect ratio for the small viewport container.
  min-width: 300px; // Must be specified in pixels.
  min-height: 240px; // Must be specified in pixels.
  margin: 0;
  padding: 0;
  overflow: $overflow;

  // If a small viewport height has been declared, disregard the aspect ratio and go with that instead.
  @if ($small-viewport-height) {
    height: $small-viewport-height;
  }

  @include media($bp768) {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: $large-viewport-height;
  }

  picture {
    @include media($bp768) {
      @include centerer;
    }

    img {
      @include media($bp768) {
        width: 100%;
      }
    }
  }

}
